/* Add CSS Styling */
/* * **All odd numbered elements**: a light red/pink background, and a list of fonts containing `Verdana` and `DejaVu Sans` with `sans-serif` as a fallback
* **The second element**: blue text and a font size of 36px
* **The third element**: in addition to the styles for all odd numbered elements, add a font size of 24px
* **The fourth element**: a light green background, a font size of 24px, and bold */

.odd {
  background: #e18392;
  font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
  color: #0000ff;
  font-size: 36px;
}

.med-font-size {
  font-size: 24px;
}

#fourth {
  background: #93ce93;
  font-weight: bold;
}